### question one: function to calculate the multiplication and sum of two numbers

In [56]:
#function for multiplication
def mult_sum(a,b):
    multiply=a*b;
    Addition =a+b;
    
    #num1=int(input("input the first number: "))#input from user for num1
    #num2=int(input("input the second number: "))#input from user for num2
    print("The summation is: {0} while the mulpiplication is: {1} ".format(Addition, multiply))
    
mult_sum(4,7)

The summation is: 11 while the mulpiplication is: 28

### Question 2: Write a function to print the sum of the current number and the previous number

In [43]:
def prev_num(x):
   
    previous_num = 0

    # loop from 1 to 10
    for i in range(x):
        x_sum = previous_num + i
        print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
        # modify previous number
        # set it to the current number
        previous_num = i
       
print(prev_num(5))

Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
None

### Question 3:	Write a function to print characters from a string that are present at an even index number

In [64]:
# accept input string from a user
def even_pos():
    word = input('Enter word')
    
    x =[]
    for i in range(len(word)):
        if i % 2 == 0:
            x.append(word[i])
    print("Even Numbers: {0}".format(x)) 
even_pos()

Enter wordthelamb
Even Numbers: ['t', 'e', 'a', 'b']

### Question 4:	Write a function to rremove first characters from a string

In [74]:
def del_firstchar():
    word = input('Enter word: ')
    
    return word[1:]
       
    
del_firstchar()

Enter word: thrift

'hrift'

### Question 5:	Write a function to check if the first and last number of a list is the same

In [81]:
def first_last():
    List = input('Enter list: ')
    if List[0] == List [-1]:
        return('they are thesame')
    else:
        return('they are not thesame')
first_last()

Enter list: 2,3,4,5,6,2

'they are thesame'

### Question 6:	Write a function to print multiplication table from 1 to 10

In [115]:
def mult_table():
    for i in range(1,11):
        #print(k,'x', i, '=', k*i )
            print('\n{0} TIMES MULTIPLICATION TABLE\n'.format(i))
            for n in range(1,11):
                   #print((i,'*', n, '=', i*n) )
                    print('{0} x {1} = {2}'.format(i,n, i*n)) 
mult_table()               
#mult_table(range(1,10))

1 TIMES MULTIPLICATION TABLE

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 TIMES MULTIPLICATION TABLE

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 TIMES MULTIPLICATION TABLE

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 TIMES MULTIPLICATION TABLE

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 TIMES MULTIPLICATION TABLE

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 TIMES MULTIPLICATION TABLE

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 TIMES MULTIPLICATION TABLE

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 TIMES MULTIPLICATION TABLE

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 TIMES MULTIPLICATION TABLE

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 TIMES MULTIPLICATION TABLE

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

### Question 7:	Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list

In [87]:
List1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
List2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

res =[]
def full_list():
    for i in List1:
        if i % 2 == 1:
            res.append(i)
    for n in List2:
        if n % 2 == 0:
            res.append(n) 
    print(res)
full_list()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]