# Question 1

In [86]:
print ("This is the function that returns the sum and multiplication of two numbers:")
print (" ")

def add_multiply(a, b):
    addition = a+b
    multiply = a*b
    print ("For the numbers", a, "and", b,":", '\n'  "Addition =", addition,'\n''Multiplication =', multiply)

add_multiply(10, 15)

This is the function that returns the sum and multiplication of two numbers:

For the numbers 10 and 15 :
Addition = 25
Multiplication = 150

# Question 2

In [118]:
print ("This is the function that prints out the sum of current number and the previous number from a list:")
print(" ")


def curr_prev():
    curr=list(range(10))
    prev=0
    for i in curr:
        sum=prev+i
        print("Current number", i, "Previous number", prev, "is", sum)
        prev=i
        

curr_prev()

This is the function that prints out the sum of current number and the previous number from a list:

Current number 0 Previous number 0 is 0
Current number 1 Previous number 0 is 1
Current number 2 Previous number 1 is 3
Current number 3 Previous number 2 is 5
Current number 4 Previous number 3 is 7
Current number 5 Previous number 4 is 9
Current number 6 Previous number 5 is 11
Current number 7 Previous number 6 is 13
Current number 8 Previous number 7 is 15
Current number 9 Previous number 8 is 17

# Question 3

In [85]:
print("This function prints out the letters in the even positioned index in a word:" '\n')
def even_index_position(word):
    word_even_position=[]
    for letter in range(len(word)): 
        if letter%2==0:
            word_even_position.append(word[letter]) 
    print(word_even_position)
even_index_position('Hallelujah')

This function prints out the letters in the even positioned index in a word:

['H', 'l', 'e', 'u', 'a']

# Question 4

In [74]:
print("This function removes the first character in a string:" '\n')
def erase_first(word):
    new_word=''
    for i in range(len(word)):
        if i!=0:
            new_word=new_word+word[i]
    print(new_word)
    
erase_first('Nigeria')

This function removes the first character in a string:

igeria

# Question 5

In [95]:
print("This function checks if the first and last element of a list are thesame" '\n')

list1=[1,2,4,7,4,1]
list2=[3,6,1,9,2]

def compare_first_last(lists):
    for i in lists:
        if lists[0]==lists[-1]:
            return True
        else:
            return False           
compare_first_last (list2)

This function checks if the first and last element of a list are thesame

False

# Question 6

In [105]:
print("This function prints out the multiplication table of numbers 1 to 10")

def multiplication_table(a,b):
    for i in range(a,(b+1)):
        print(" ")
        print('Multiplication table of', i)
        print(" ")
        for item in range (1,13):
            multiplication=i*item
            print(i, "x", item, "=", multiplication,)
        
multiplication_table(1,10)

This function prints out the multiplication table of numbers 1 to 10

Multiplication table of 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12

Multiplication table of 2

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

Multiplication table of 3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

Multiplication table of 4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

Multiplication table of 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

Multiplication table of 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

Multiplication table of 7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84

Multiplication table of 8

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

Multiplication table of 9

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108

Multiplication table of 10

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

# Question 7

In [112]:
print ("This function creates a new list from the odd and even numbers respectively two existing lists" '\n')

list1=[1,2,3,4,6,7,8]
list2=[23,24,35,36,47,48]

def odd_even(a,b):
    new_list=[]
    for num in (a):
        if num%2==0:
            new_list.append(num)
    for num in b: 
        if num%2==1:
            new_list.append(num)
    print(new_list)

odd_even(list1,list2)

This function creates a new list from the odd and even numbers respectively two existing lists

[2, 4, 6, 8, 23, 35, 47]