## Class work

In [4]:
#1.Write a function to calculate the multiplication and sum of two numbers.
def multi_sum(a,b):
    M = a*b
    print(M, "product of the two numbers")
    S = a+b
    print(S, "sum of the two numbers")
    return

In [7]:
multi_sum(5,3)

15 product of the two numbers
8 sum of the two numbers

In [8]:
#2.Write a function to print the sum of the current number and the previous number
def sumCurrentPrevious(p):
    previous = (p - 1)
    print(int(previous + int(p)))

In [9]:
sumCurrentPrevious(20)

39

In [110]:
#3.Write a function to print characters from a string that are present at an even index number
def char_string(b=" "):
    for i in b:
        if (b.index(i))%2==0:
            print(i, end=" ")

In [111]:
char_string("ogechukwu")

o e h k

In [104]:
#3b.Write a function to print characters from a string that are present at an even index number
def character_string(a=" "):
    i = 0
    print('character present at even index:')
    while i < len(a):
        print(a[i], end=" ")
        i = i + 2

In [112]:
character_string("overwhelming")

character present at even index:
o e w e m n

In [57]:
4.#Write a function to remove first characters from a string
def remove_first_char(txt):
    print(txt.replace(txt[0], ''))

In [58]:
remove_first_char('Blessing')

lessing

In [97]:
#5.	Write a function to check if the first and last number of a list is the same
def list_list(list):
    if list[0] == list[-1]:
        print (True)
    else:
         print (False)

In [98]:
list=[2,4,5,6,8,7,5,45,6]
list_list(list)

False

In [99]:
list=[2,4,5,6,8,7,5,45,2]
list_list(list)

True

In [78]:
#Write a function to print multiplication table from 1 to 10
def multiplication_tables():
    for x in range(1, 13):
        print("")
        for y in range(1, 13):
            print(x * y, end=" ")

In [79]:
multiplication_tables()

1 2 3 4 5 6 7 8 9 10 11 12
2 4 6 8 10 12 14 16 18 20 22 24
3 6 9 12 15 18 21 24 27 30 33 36
4 8 12 16 20 24 28 32 36 40 44 48
5 10 15 20 25 30 35 40 45 50 55 60
6 12 18 24 30 36 42 48 54 60 66 72
7 14 21 28 35 42 49 56 63 70 77 84
8 16 24 32 40 48 56 64 72 80 88 96
9 18 27 36 45 54 63 72 81 90 99 108
10 20 30 40 50 60 70 80 90 100 110 120
11 22 33 44 55 66 77 88 99 110 121 132
12 24 36 48 60 72 84 96 108 120 132 144

In [95]:
#7.	Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers
#from the first list and even numbers from the second list.

def list_number():
    b = [2,3,4,5,6,7,8,9]
    c = [1,2,4,3,5,6,7,8]
    a = []
    for n in b:
        if n % 2 > 0:
            a.append(n)
    for y in c:
        if y % 2 ==0:
            a.append(y)
    print(a)

In [96]:
list_number()

[3, 5, 7, 9, 2, 4, 6, 8]