In [ ]:
# Q1:write a function to calculate the multiplication and sum of
#two numbers
def function(x,y):
    x=int(input("Enter a number: "))
    y=int(input("Enter a number: "))
    return (x+y,x*y)
function(x,y)

In [1]:
#Q2:Write a function to print the sum of the current number and
#the previous number
def current_num(x):
    n=0
    for i in x:
        n=n+i
    return n
x=[10]
current_num(x)

10

In [3]:
def previous_num(y):
    total=-1
    for a in y:
        total=total+a 
    return total
y=x
previous_num(y)

9

In [4]:
#Q3: Write s function to print characters from a string that are
# present at an even index number
def string(name):
    return name

name="MercyDafe"[0::2]
string(name)

'Mryae'

In [22]:
#Q4: Write a function to remove first charaters from a string

In [5]:
def charater(word):
    return word

word="Technology"[1:]
charater(word)

'echnology'

In [6]:
def charater(string):
    string="Ebele"
    new_string=string.lstrip("E")
    print(new_string)
charater(string)

bele

In [7]:
#5: Write a function to check if the first and last number is the same
def function(x):
    x=[11,12,13,14,15,11]
    for i in x:
        if x[0]==x[-1]:
            
            print("The first and the last number are the same")
        else:
            print("The the first and last number are not the same")
        break
            
function(x)

The first and the last number are the same

In [8]:
#6: write a function to print multiplication table 1 to 10
def multiplication_table():
    for i in range(1,11):
        print('\n multiplication table for {0}\n'.format(i))
        for j in range(1,11):
            print('{0}X{1}={2}'.format(i,j,i*j))
    
        
multiplication_table()

 multiplication table for 1

1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10

 multiplication table for 2

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

 multiplication table for 3

3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

 multiplication table for 4

4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

 multiplication table for 5

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

 multiplication table for 6

6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60

 multiplication table for 7

7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70

 multiplication table for 8

8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
8X10=80

 multiplication table for 9

9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81
9X10=90

 multiplication table for 10

10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

In [9]:
# Given a two list of numbers, write a function to create a new list
# such that the new list should contain odd and numbers from a the first list and 
# even number from the second list

In [13]:
def two_list(x,y):
    newlist=[]
    for i in x:
        if i%2!=0:
            newlist.append(i)
    for j in y:
        if j%2==0:
            newlist.append(j)
    return(newlist)
                    
                                
x=[1,2,3,4,5]
y=[11,22,33,44,55]           
two_list(x,y)

[1, 3, 5, 22, 44]