In [1]:
### write a function to calculate the multiplication and sum of two numbers

def sum_multiplication(x, y):
    return x+y, x*y
x = int(input("Enter first number : "))
y = int(input("Enter second number : "))
sum, multiplication =sum_multiplication(x, y)
print("The sum is ", sum)
print("then multiplication is", multiplication)

Enter first number : 26
Enter second number : 33
The sum is  59
then multiplication is 858

In [2]:
### write a function to print the sum of the current number and the previous number

current = int(input("desired number: "))
previous = int(input("desired number: "))
print(current +previous)

desired number: 2020
desired number: 2023
4043

In [10]:
### Write a function to print characters from a string that are present at an even index number

Word = "Beautiful"
print("The characters present at even index of Beautiful: ")
for i in  range(len(Word)):
    if(i%2)==0:
        print(Word[i])

The characters present at even index of Beautiful:
B
a
t
f
l

In [11]:
### Write a function to remove first characters from a string

Word= "Beautiful"
remove_string = Word [1:]
print(remove_string)

eautiful

In [ ]:
### Write a function to check if the first and last number of the list is the same

In [19]:
### Write a function to print multiplication table from 1 to 10

Number = int(input("enter number: "))
for i in range (1, 11):
    print("\t")
    for j in range(1,13):
        print(i, "x",j,"=",i*j)

enter number: 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

In [51]:
### Given a two list of numbers, write a function to create a new list such that the new list should contain
### odd numbers from the first list and even numbers from the second list

n1 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
n2 = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
for odd_number in n1 :
    if odd_number % 2!= 0 :
        print (odd_number)
        
for even_number in n2 :
    if even_number % 2 == 0 :
        print (even_number)

1
3
5
7
9
11
13
15
17
19
0
2
4
6
8
10
12
14
16
18
20