In [26]:
def sum_multip(x, y):
# This fuction takes two numbers and return their sum & multiplication product
    sum = x+y
    multip = x*y
    print('(sum, multiple)'), 
    return((sum, multip))

In [27]:
sum_multip(7,30)

(sum, multiple)

(37, 210)

In [5]:
def even_char(string):
# This function takes a string as input and return a list of chars corresponding to even index  
#WE CONSIDER 0 AS EVEN NUMBER HERE
    even_str = [] 

    for i in range(len(string) + 1) :

        if i % 2 == 0:
            even_str.append(string[i])
    print('Even chars are:') 
    return (even_str)

In [6]:
even_char('hfdssthjvckll')

Even chars are:

['h', 'd', 's', 'h', 'v', 'k', 'l']

In [20]:
def sum(current):
# This function takes in a number and return the sum of that number and the number previous it
    previous = current - 1
    print('The sum is: ')
    return ( current + previous)

In [21]:
 sum(9)

The sum is:

17

In [28]:
def remove_str(name):
# This function takes in a string and remove the first char and return the new string
    new_str = name[1:]
    print('The new string is: ')
    return(new_str)

In [29]:
remove_str('ahmed')

The new string is:

'hmed'

In [30]:
def check_list(list):
# This function check if the 1st and last elements in a list are the same or not
    if list[0] == list[-1]:
        return ('The two items are the same') 
    else:
        return ('The two items are not the same')

In [12]:
check_list([1,4,6,6,8,9,5,7,3])

'They are not the same'

In [31]:
def multip_table(start, end):
# This function produce the multiplication tables for all the numbers betten start and end
    for item in range(start, (end+1)):
        print ('Multiplication table for ', item) 
        for i in range (13):
            
            multi = i * item
            print( i, '*', item, '=', multi)

In [14]:
multip_table(1, 10)

Multiplication table for  1
0 * 1 = 0
1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10
11 * 1 = 11
12 * 1 = 12
Multiplication table for  2
0 * 2 = 0
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
11 * 2 = 22
12 * 2 = 24
Multiplication table for  3
0 * 3 = 0
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30
11 * 3 = 33
12 * 3 = 36
Multiplication table for  4
0 * 4 = 0
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40
11 * 4 = 44
12 * 4 = 48
Multiplication table for  5
0 * 5 = 0
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
11 * 5 = 55
12 * 5 = 60
Multiplication table for  6
0 * 6 = 0
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60
11 * 6 = 66
12 * 6 = 72
Multiplication table for  7
0 * 7 = 0
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70
11 * 7 = 77
12 * 7 = 84
Multiplication table for  8
0 * 8 = 0
1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80
11 * 8 = 88
12 * 8 = 96
Multiplication table for  9
0 * 9 = 0
1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90
11 * 9 = 99
12 * 9 = 108
Multiplication table for  10
0 * 10 = 0
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100
11 * 10 = 110
12 * 10 = 120

In [36]:
def odd_even(list1, list2):
# This function takes two list and returns a combined list for odd numbers from the first one ans even numbers from the second
    output_list = [] 
    for item in list1:
        if item %2 == 0:
            continue
        else:
             output_list.append(item) 
    for item in list2:
        if item %2==0:
            output_list.append(item)
    
    print('The new combined list is: ')
    return(output_list)

In [37]:
odd_even([1,4,6,6,8,9,5,7,3,1], [7,8,9,3,7,5,4,2] )

The new combined list is:

[1, 9, 5, 7, 3, 1, 8, 4, 2]