# Names of Group 7 members
## Nitaranda Yargawa Alexander(team 7)
## Latifa Abubakar
## Olajumoke Deborah Falowo 
## Oluchukwu Chiadika 
## Famakinde Kehinde Oladunni
## Akinwola Mary 
## Linda Iwiyisi Owolabi
## Juliana Tula Talai
##

# QUESTION 1

In [12]:
print ('These are the first 10 natural numbers')
i=1

while i<=10:
    print (i)
    i+=1

These are the first 10 natural numbers
1
2
3
4
5
6
7
8
9
10

# QUESTION 2

In [17]:
print ('This is the sum of the list x ')
x=[1,2,3,4,5,6,7,8]
y=0

for i in x:
    y=y+i
    i+=1
print (y)

This is the sum of the list x
36

# QUESTION 3

In [14]:
print ('This is the muliplication table of the number 2')
x=2
y=1
z=0

while y<=12:
    
    z=x*y
    print (z)
    y+=1

This is the muliplication table of the number 2
2
4
6
8
10
12
14
16
18
20
22
24

# QUESTION 4

In [16]:
print ('This is the printed element of the list')
lists=[10,22,34,41,59,64,76,81,90,100]

for num in lists:
    print (num)
    num+=1

This is the printed element of the list
10
22
34
41
59
64
76
81
90
100

# QUESTION 5

In [19]:
print ('This is the count of the digits in the number 7653369 ')
g='7653369'
num_dig= 0
for dig in range(len(g)):
    num_dig+= 1
    print(num_dig)

This is the count of the digits in the number 7653369
1
2
3
4
5
6
7

# QUESTION 6

In [11]:
lower = 2
upper = 30

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):

   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 2 and 30 are:
2
3
5
7
11
13
17
19
23
29