# 1. Write a python function to find the max of three numbers

In [1]:
def max_num(a,b,c):
    print (max(a,b,c))

In [2]:
max_num(1,2,3)

3

# 2. # Write a function to sum all numbers in a list

In [3]:
def add_num(list_no):
    total= 0
    for item in list_no:
        total= total + item
    return (total)

In [4]:
list_no= [1,5,7,9]
add_num(list_no)

22

# 3. Write a python program to reverse a string

In [5]:
def reverse_str(obj):
    """this function reverse any string that is passed into it"""
    print (obj[: : -1])

In [6]:
a= input('any string: ')
reverse_str(a)

any string: women techsters
sretshcet nemow

# 4. Write a python function to check whether a number falls in a given range

In [7]:
lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))
def check(n):
    """This function checks whether a number falls in a given range"""
    if n in range (lower_value, upper_value + 1):
        print(str(n),"is in the range")
    else: print (str(n), "is not in this range")

Please, Enter the Lowest Range Value: 6
Please, Enter the Upper Range Value: 20

In [8]:
check(30)

30 is not in this range

# 5. Write a python function that takes a list and returns a new list with unique elements of the first list

In [9]:
def uniq(num_list):
    print (list(set(num_list)))

In [10]:
num_list= [5,8,9,4,6,6,7,7]
uniq(num_list)

[4, 5, 6, 7, 8, 9]

# 6. Write a program to print the even number from a list

In [11]:
def even_no(*number):
    a= []
    for item in number:
        if item % 2==0:
            a.append(item)
    print (a)

In [12]:
even_no(1,6,8,9,10)

[6, 8, 10]

# 7. Write a python function that checks whether a passed str is a palindrome or not

In [13]:
def palindrome_str(obj):
    a= obj[: :]
    b= obj[: : -1]
    if a==b:
        print (f'{obj} is a palindrome string')
    else:
        print (f'{obj} is not a palindrome string' )

In [14]:
palindrome_str('madam')

madam is a palindrome string

In [15]:
palindrome_str('beau')

beau is not a palindrome string

# 8. Write a python function to create and print a list where the value returns square of numbers between 1 and 30

In [16]:
def square():
    l= list()
    for i in range (1,31):
        l.append(i*i)
    print (l)

In [17]:
square()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]