In [1]:
 # 1. write a function to calculate the multiplication  of two numbers
def multiply(a,b):
    c=a*b
    return c
first_num =3
second_num = 5
    
print("3*5 is:",multiply(first_num,second_num))

3*5 is: 15

In [2]:
#write a function to calculate the sum of two numbers
def adding(a,b):
    c=a+b
    return c
first_num =3
second_num = 5
    
print("3+5 is:",adding(first_num,second_num))

3+5 is: 8

In [3]:
def multiply(a,b):
    c=a*b
    return c
first_num =int(input("first number:"))
second_num = int(input("second number:"))

answer= multiply(first_num,second_num)
    
print("the multiplication is:",answer)

first number:3
second number:3
the multiplication is: 9

In [4]:
#2.write a funtion to print the sum of the current number and the previous number
number= [2,3,4,5,6]
for x in range(len(number)): 
    if x ==0:
        print(number[x])
    else:
         print(number[x-1]+number[x])

2
5
7
9
11

In [5]:
#3. write a function to print characters from a string that are present at an even index number

string = input("write something:")
even_characters = []
for x in range(len(string)):
        if x %2 ==0:
            even_characters.append(string[x])
print("the even characters are:{}".format(even_characters))

write something:felicia
the even characters are:['f', 'l', 'c', 'a']

In [6]:
#4.write a function to remove first characters from a string 
#1: from first index down

string_to_use =["felicia"]
string_without_first_character = [display[1:]for display in string_to_use]
print(str(string_without_first_character))

['elicia']

In [7]:
 def remove_character(add_string,index):
        a =add_string[:index]
        b = add_string[index+1:]
        return a+b

In [8]:
f = 'felicia'
index = 0
remove_character(f,index)

'elicia'

In [9]:
#5.write a function to check if the first and last number of a list is the same
felicia_list=[2,4,8,2]
if felicia_list[0] == felicia_list[-1]:
        print ('yes its same')

yes its same

In [10]:
felicia_list=[2,4,8,10]
if felicia_list[0] == felicia_list[-1]:
        print ('yes its same')
else:
        print('no its different')

no its different

In [11]:
#6.write a function to print multiplication table from 1 to 10
def times_table(num):
    for i in range (1,11):
            print(num,'x',i,'=', num*i)
f = int(input('enter a number and get the multiplication table'))
times_table(f)

enter a number and get the multiplication table4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [12]:
#7.Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list
list1 = [1,2,3,4,5]
for num in list1:
        if num %2 !=0:
            print (num, end = '')
list2 = [2,3,1,4,5,8,10]
for num in list2:
        if num %2 ==0:
            print (num, end = '')

13524810