### Write a function to calculate the multiplication and sum of two numbers.

In [22]:
def mult_and_sum(x,y):
    if x*y >0 and x*y <= 2000:
        return x*y
    else:
        return x+y

In [24]:
mult_and_sum(800,30)

830

### Write a function to print the sum of the current number and the previous number.

In [31]:
def summation(digits):
    for i in range(len(digits)):
        if i==0:
            print(digits[i]) 
        else:
            print(digits[i-1]+digits[i])

In [32]:
digits=[1,1,4,3,7,9]
#digits[i]
summation(digits)

1
2
5
7
10
16

### Write a function to print characters from a string that are present at an even index number.

In [395]:
def fxn(word):
    new_word=[]
    for i in range(len(word)):
        if i%2==0:
            new_word.append(word[i])
    return new_word

In [396]:
word="juliejerm"

In [397]:
fxn(word)

['j', 'l', 'e', 'e', 'm']

### Write a function to remove firstâ€¯characters from a string

In [40]:
def remove(word1):
    new_word1=[]
    for i in range(len(word1)):
        new_word1=word1.replace(word1[0:1],"")
        return new_word1

In [41]:
word1="Julie"

In [42]:
remove(word1)

'ulie'

### Write a function to check if the first and last number of a list is the same

In [154]:
def same(word2):
    for i in range(len(word2)):
        if word2[0]==word2[-1]:
            return True
        else:
            return False

In [155]:
word2="julie"
same(word2)

False

In [156]:
word2a="eulie"
same(word2a)

True

### Write a function to print multiplication table from 1 to 10

In [43]:
def mult(x,y):
    for i in range(0,11):
        print("\n THIS IS MULTIPLICATION TABLE FOR %d\n" %(i))
        for j in range(0,11):
             print("%-2d X %2d = %2d" % (i, j, i*j))

In [44]:
mult(1,10)

 THIS IS MULTIPLICATION TABLE FOR 0

0  X  0 =  0
0  X  1 =  0
0  X  2 =  0
0  X  3 =  0
0  X  4 =  0
0  X  5 =  0
0  X  6 =  0
0  X  7 =  0
0  X  8 =  0
0  X  9 =  0
0  X 10 =  0

 THIS IS MULTIPLICATION TABLE FOR 1

1  X  0 =  0
1  X  1 =  1
1  X  2 =  2
1  X  3 =  3
1  X  4 =  4
1  X  5 =  5
1  X  6 =  6
1  X  7 =  7
1  X  8 =  8
1  X  9 =  9
1  X 10 = 10

 THIS IS MULTIPLICATION TABLE FOR 2

2  X  0 =  0
2  X  1 =  2
2  X  2 =  4
2  X  3 =  6
2  X  4 =  8
2  X  5 = 10
2  X  6 = 12
2  X  7 = 14
2  X  8 = 16
2  X  9 = 18
2  X 10 = 20

 THIS IS MULTIPLICATION TABLE FOR 3

3  X  0 =  0
3  X  1 =  3
3  X  2 =  6
3  X  3 =  9
3  X  4 = 12
3  X  5 = 15
3  X  6 = 18
3  X  7 = 21
3  X  8 = 24
3  X  9 = 27
3  X 10 = 30

 THIS IS MULTIPLICATION TABLE FOR 4

4  X  0 =  0
4  X  1 =  4
4  X  2 =  8
4  X  3 = 12
4  X  4 = 16
4  X  5 = 20
4  X  6 = 24
4  X  7 = 28
4  X  8 = 32
4  X  9 = 36
4  X 10 = 40

 THIS IS MULTIPLICATION TABLE FOR 5

5  X  0 =  0
5  X  1 =  5
5  X  2 = 10
5  X  3 = 15
5  X  4 = 20
5  X  5 = 25
5  X  6 = 30
5  X  7 = 35
5  X  8 = 40
5  X  9 = 45
5  X 10 = 50

 THIS IS MULTIPLICATION TABLE FOR 6

6  X  0 =  0
6  X  1 =  6
6  X  2 = 12
6  X  3 = 18
6  X  4 = 24
6  X  5 = 30
6  X  6 = 36
6  X  7 = 42
6  X  8 = 48
6  X  9 = 54
6  X 10 = 60

 THIS IS MULTIPLICATION TABLE FOR 7

7  X  0 =  0
7  X  1 =  7
7  X  2 = 14
7  X  3 = 21
7  X  4 = 28
7  X  5 = 35
7  X  6 = 42
7  X  7 = 49
7  X  8 = 56
7  X  9 = 63
7  X 10 = 70

 THIS IS MULTIPLICATION TABLE FOR 8

8  X  0 =  0
8  X  1 =  8
8  X  2 = 16
8  X  3 = 24
8  X  4 = 32
8  X  5 = 40
8  X  6 = 48
8  X  7 = 56
8  X  8 = 64
8  X  9 = 72
8  X 10 = 80

 THIS IS MULTIPLICATION TABLE FOR 9

9  X  0 =  0
9  X  1 =  9
9  X  2 = 18
9  X  3 = 27
9  X  4 = 36
9  X  5 = 45
9  X  6 = 54
9  X  7 = 63
9  X  8 = 72
9  X  9 = 81
9  X 10 = 90

 THIS IS MULTIPLICATION TABLE FOR 10

10 X  0 =  0
10 X  1 = 10
10 X  2 = 20
10 X  3 = 30
10 X  4 = 40
10 X  5 = 50
10 X  6 = 60
10 X  7 = 70
10 X  8 = 80
10 X  9 = 90
10 X 10 = 100

In [348]:
def odd_even(list_1,list_2):
    odd_list =[] 
    even_list =[]
    for i in list_1:
        if (i % 2 == 1):
            odd_list.append(i)
    for j in list_2:
        if (j % 2==0):
            even_list.append(j)
    return(odd_list,even_list)

### Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [349]:
list_1=[4,1,2,3,4]
list_2=[5,6,7,8,9]

In [350]:
odd_even(list_1,list_2)

([1, 3], [6, 8])