# Latifa Abubakar

# Question 1

In [181]:
#Write a function to calculate the multiplication and sum of two number
def operation(x,y):
    sums=x+y
    mult= x*y
    print(sums)
    print(mult)
x=12
y=4
operation(x,y)

16
48

# Question 2

In [267]:
#Write a function to print the sum of the current number and the previous numberr
def addition(x):
    i=8
    prev= i-1
    current=i
    x=prev + current
    print(x)
    
addition(x)

15

# Question 3

In [193]:
#Write a function to print characters from a string that are present at an even index number
def string(x):
    for i in range(len(str)):
        if i%2==0:
            print(str[i], end='')
str="latifa"
string(str)

ltf

# question 4

In [248]:
#Write a function to rremove first characters from a string
def first_character(x):
    first_character=''
    for i in range(len(x)):
        if i!= 0:
            
            print(x[i], end='')
x="manana"
first_character(x)

anana

# question 5

In [199]:
#Write a function to check if the first and last number of a list is the same
def check_er(x):
        if x[0]==x[-1]:
            print(True)
        else:
            
            print(False)
x=[1,3,5,6,7,1]
check_er(x)

True

# question 6

In [262]:
#Write a function to print multiplication table from 1 to 10
def multiplication():
    for i in range(1, 10+1):
        for j in range(i, (i*10)+1, i):
            print( j)
multiplication()

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90
10
20
30
40
50
60
70
80
90
100

In [264]:
def multip_table(start, end):
    for item in range(start, (end+1)):
        print ('Multiplication table for ', item)
        for i in range (1,11):
            multi = i * item
            print( i, '*', item, '=', multi)
multip_table(1,11)

Multiplication table for  1
1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10
Multiplication table for  2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
Multiplication table for  3
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30
Multiplication table for  4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40
Multiplication table for  5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
Multiplication table for  6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60
Multiplication table for  7
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70
Multiplication table for  8
1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80
Multiplication table for  9
1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90
Multiplication table for  10
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100
Multiplication table for  11
1 * 11 = 11
2 * 11 = 22
3 * 11 = 33
4 * 11 = 44
5 * 11 = 55
6 * 11 = 66
7 * 11 = 77
8 * 11 = 88
9 * 11 = 99
10 * 11 = 110

# question 7

In [266]:
#Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.
def create(x,y):
    create_new=[]
    for i in x:
        if i %2 != 0:
            create_new.append(i)
    for i in y:
        if i%2==0:
            create_new.append(i)
    print(create_new)
        
x=[1,2,3,4,5,6,7,9]
y=[9,18,17,57,12,14]
create(x,y)

[1, 3, 5, 7, 9, 18, 12, 14]