### 1.	Write a function to calculate the multiplication and sum of two numbers.

In [5]:
def mul_add(x, y):
    multi = x * y
    while multi <= 100:
        return multi
    else:
        return (x + y)

In [42]:
multi_add = mul_add(6,8)
print('the result is:', multi_add)

multi_add = mul_add(50,5)
print('the result is:', multi_add)

the result is: 48
the result is: 55

### 2.	Write a function to print the sum of the current number and the previous number

In [116]:
def marv(num):
    prev = 0
    for b in range(1,15):
        total = prev + b 
    print('')
    print('previous number: ', prev)
    print('current number: ', total)
        
    total = range(prev+total)

In [117]:
num= range(1,15)
marv(num)
print('addition of number is:', sum(num))

previous number:  0
current number:  14
addition of number is: 105

### 3.	Write a function to print characters from a string that are present at an even index number

In [104]:
def index(string):
    for i in string:
        print(i)

In [105]:
string= 'marvellous'
index(string[0::2])

m
r
e
l
u

### 4.	Write a function to remove first characters from a string

In [18]:
def character(string):
    for i in string:
        print(i)

In [19]:
string = 'anaconda'
character(string[1::])

n
a
c
o
n
d
a

### 5.	Write a function to check if the first and last number of a list is the same

In [20]:
def same(numbers):
    first_number = numbers[0]
    last_number = numbers[-1]
    if first_number==last_number:
        return True
    else:
        return False

In [21]:
numbers = [3,6,9,12,15]
print(same(numbers))
print('    ')

numbers = [2,4,6,8,10,2]
print(same(numbers))

False

True

### 6.	 Write a function to print multiplication table from 1 to 10

In [74]:
def multiplication():
    for i in range(1,6):
        for j in range(1,6):
            print(i * j, end='\t')
        print('\t\t')

In [75]:
multiplication()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

### 7.	Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [76]:
def odd_even(list_c, list_d):
    newlist = []
    
    for i in list_c:
        if i % 2 == 0:
            newlist.append(i)
    for u in list_d:
        if (u % 2) != 0:
            newlist.append(u)
    return newlist
list_c = [4,3,5,6,8,9]
list_d = [21,22,23,24,25]

In [77]:
print(odd_even(list_a, list_b))

[4, 6, 8, 21, 23, 25]