# Mary Akinwola (Group 7)

# Question 1

In [58]:
#Write a function to calculate the multiplication and sum of two numbers.

#Call the function 
def multi_sum(x,y):
    sum_two=x+y
    multiply=x*y
    print(sum_two, multiply)

multi_sum(3,5)

8 15

# Question 2

In [11]:
#Write a function to print the sum of the current number and the previous number
def my_function(current_num):
    previous_num=current_num-1
    sum_num2=current_num+previous_num
    print(sum_num2)
    
my_function(5)

9

# Question 3

In [75]:
#Write a function to print characters from a string that are present at an even index number
def my_even_string(word):
    new_word=[]
    for i in range(len(word)): #First, look for the length of the word, then range for iteration
        if i%2==0:
            new_word.append(word[i]) #This means print the exact letters in the even index
    print(new_word)
my_even_string('Samsung')

['S', 'm', 'u', 'g']

In [79]:
def string(x):
    for i in range(len(str)):
        if i%2==0:
            print(str[i], end='')
str="latifa"
string(str)

ltf

# Question 4

In [23]:
#Write a function to remove first characters from a string
def del_string(text):
    final_text=''
    for i in range(len(text)):
        if i!=0:
            final_text=final_text+text[i]
    print(final_text)
    
del_string('monkey')

onkey

In [89]:
def first_character(x):
    
    for i in range(len(x)):
        if i!=0:
            print(x[i], end='')
x="manana"
first_character(x)

anana

# Question 5

In [98]:
#Write a function to check if the first and last number of a list is the same
def check_list(l):
    for i in l:
        if l[0]==l[-1]:
            return True
        else:
            return False            
check_list ([1,2,3,4,1])

True

In [96]:
def check_list(list):
    if list[0] == list[-1]:
        return ('They are the same')
    else:
        return ('They are not the same')

check_list([1,2,3,1])

'They are the same'

# Question 6

In [111]:
#Write a function to print multiplication table from 1 to 10

def multi_table(x,y):
    for i in range(x,(y+1)):
        print('Multiplication table of', i)
        for item in range (1,13):
            multi=i*item
            print(multi)
        
multi_table(1,10)

Multiplication table of 1
1
2
3
4
5
6
7
8
9
10
11
12
Multiplication table of 2
2
4
6
8
10
12
14
16
18
20
22
24
Multiplication table of 3
3
6
9
12
15
18
21
24
27
30
33
36
Multiplication table of 4
4
8
12
16
20
24
28
32
36
40
44
48
Multiplication table of 5
5
10
15
20
25
30
35
40
45
50
55
60
Multiplication table of 6
6
12
18
24
30
36
42
48
54
60
66
72
Multiplication table of 7
7
14
21
28
35
42
49
56
63
70
77
84
Multiplication table of 8
8
16
24
32
40
48
56
64
72
80
88
96
Multiplication table of 9
9
18
27
36
45
54
63
72
81
90
99
108
Multiplication table of 10
10
20
30
40
50
60
70
80
90
100
110
120

In [112]:
def multip_table(start, end):
    for item in range(start, (end+1)):
        print ('Multiplication table for ', item)
        for i in range (13):
            multi = i * item
            print( i, '*', item, '=', multi)
multip_table(1,10)

Multiplication table for  1
0 * 1 = 0
1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
10 * 1 = 10
11 * 1 = 11
12 * 1 = 12
Multiplication table for  2
0 * 2 = 0
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20
11 * 2 = 22
12 * 2 = 24
Multiplication table for  3
0 * 3 = 0
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30
11 * 3 = 33
12 * 3 = 36
Multiplication table for  4
0 * 4 = 0
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40
11 * 4 = 44
12 * 4 = 48
Multiplication table for  5
0 * 5 = 0
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
11 * 5 = 55
12 * 5 = 60
Multiplication table for  6
0 * 6 = 0
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60
11 * 6 = 66
12 * 6 = 72
Multiplication table for  7
0 * 7 = 0
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70
11 * 7 = 77
12 * 7 = 84
Multiplication table for  8
0 * 8 = 0
1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80
11 * 8 = 88
12 * 8 = 96
Multiplication table for  9
0 * 9 = 0
1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90
11 * 9 = 99
12 * 9 = 108
Multiplication table for  10
0 * 10 = 0
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100
11 * 10 = 110
12 * 10 = 120

# Question 7

In [124]:
def my_function(list1,list2):
    new_list=[]
    for i in (list1):
        if i%2==0:
            new_list.append(i)
    for i in list2: 
        if i%2==1:
            new_list.append(i)
    print(new_list)
my_function([2,3,4,5],[3,4,6,7])

[2, 4, 3, 7]