In [78]:
#1.	Write a function to calculate the multiplication and sum of two numbers.

def multi_Suming():
    num1=int(input('enter num1:'))
    num2=int(input('enter num2:'))
    print(num1*num2) 
    print(num1+num2)
multi_Suming()

enter num1:2
enter num2:3
6
5

In [39]:
#2.	Write a function to print the sum of the current number and the previous numberr
def suming(x,y=2):
    ans=x+y
    return ans
suming(4)

6

In [70]:
#3.	Write a function to print characters from a string that are present at an even index numbercharacters = input('Enter a string: ')
def characters():
    characters = input('Enter a string: ')
    print('characters present at even index:', characters[0::2])
characters()

Enter a string: girl
characters present at even index: gr

In [173]:
#4.	Write a function to rremove first characters from a string
def remove_first():
    remove_first=input('Enter a string:')
    print(remove_first[1:])
remove_first()

Enter a string:bhtyufgh
htyufgh

In [174]:
#5.	Write a function to check if the first and last number of a list is the same
list=[2,8,9,2]
#if list[0]==[-1]:
#print(list[0])
#print(list[-1])
for i in list:
    if i[0]==[-1]:
        print('The number is the same')
else:
    print('The number is not the same')

TypeError: 'int' object is not subscriptable

In [185]:
#6.	 Write a function to print multiplication table from 1 to 10
#for num in range(1,11):
    #print(num)
    #while i in range:
    #i=num*num
    #print(i)

    
def tables():
    for x in range(1, 11):

        print("")

        for y in range(1, 11):
            print(x * y, end=" ")

In [172]:
def print_table(num): 
    """ This function prints multiplication table of a given number"""
    for i in range(1,11): 
        print(num,' x ', i, ' = ',num*i) 
print_table(3)

TypeError: 'tuple' object is not callable

In [178]:
#7.	Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.
#def newlist(x,y):
x=input('enter numbers')
for i in x:
    #y=input('enter numbers')
    if i % 2 == 0:
        print(x, end=" ")
#else:
    #print('This is odd')
#newlist(2,6)
    
def newlist():   
    list_1=[0,1,3,5]
    list_2=[2,4,6,8]
    newlist=[list_1,list_2]
    print(newlist)
newlist()

enter numbers4

TypeError: not all arguments converted during string formatting

10 4 66