**Write a function to calculate the multiplication and sum of two numbers.**

In [1]:
def tracy(a,b):
  multi=a*b 
  summ=a+b
  return multi,summ

result=tracy(20,30)
print("The multiplication and sum are",result[0],"and",result[1],"respectively.")

The multiplication and sum are 600 and 50 respectively.

**Write a function to print the sum of the current number and the previous number**

In [2]:
numbers = [5, 10, 15, 20, 25, 30, 30]
def shade():
  for i in range(len(numbers)):
    if i == 0:
        print(numbers[i])
    else:
        print(numbers[i - 1] + numbers[i])
shade()

5
15
25
35
45
55
60

**Write a function to print characters from a string that are present at an even index number**

In [3]:
def jessi():
  s=str(input("Enter a string character: "))
  print("The characters present in the even index are: ", s[0::2])
jessi()

Enter a string character: Ifemade
The characters present in the even index are:  Ieae

**Write a function to remove firstâ€¯characters from a string**

In [4]:
def tade():
  s=str(input("Enter a string character: "))
  print("The new string is ", s[1::])
tade()

Enter a string character: Cookiestuff
The new string is  ookiestuff

**Write a function to check if the first and last number of a list is the same**

In [5]:
list = [10, 20, 30, 40, 10]
def jes():
  if list[0] == list[-1]:
    print('Result is True')
  else:
    print('Result is False')
jes()

Result is True

**Write a function to print multiplication table from 1 to 10**

In [6]:
def tables():
    for x in range(1, 11):
        print("Multiplication Table for {}".format(x))
        for y in range(1, 11):
            print(x * y, end=" ")
        print()
tables()

Multiplication Table for 1
1 2 3 4 5 6 7 8 9 10
Multiplication Table for 2
2 4 6 8 10 12 14 16 18 20
Multiplication Table for 3
3 6 9 12 15 18 21 24 27 30
Multiplication Table for 4
4 8 12 16 20 24 28 32 36 40
Multiplication Table for 5
5 10 15 20 25 30 35 40 45 50
Multiplication Table for 6
6 12 18 24 30 36 42 48 54 60
Multiplication Table for 7
7 14 21 28 35 42 49 56 63 70
Multiplication Table for 8
8 16 24 32 40 48 56 64 72 80
Multiplication Table for 9
9 18 27 36 45 54 63 72 81 90
Multiplication Table for 10
10 20 30 40 50 60 70 80 90 100

**Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.**

In [7]:
l1 = [2,5,8,12,4,6,87,32,65]
l2 = [1,6,3,90,4,5,32,4]
def cook():
  l3 = [n for n in l1 if n%2]+[n for n in l2 if not n%2]
  return l3
cook()

[5, 87, 65, 6, 90, 4, 32, 4]

In [8]:
l1 = range(1,12)
l2 = range(20,30)
def cook():
  l3 = [n for n in l1 if n%2]+[n for n in l2 if not n%2]
  return l3
cook()

[1, 3, 5, 7, 9, 11, 20, 22, 24, 26, 28]