In [9]:
#1.	Write a function to calculate the multiplication and sum of two numbers.
def multiplication_sum(x,y):
    x = 55
    y =22
    print(x * y, x + y)

In [11]:
multiplication_sum(55,22)

1210 77

In [14]:
#2.	Write a function to print the sum of the current number and the previous number
def sumpreviousnumber_currentnumber(c):
    previous = (c - 1)
    current = (c)
    print(int(previous + int(c)))

In [15]:
sumpreviousnumber_currentnumber(20)

39

In [72]:
#3.	Write a function to print characters from a string that are present at an even index number
def character_string():
    x = 'kosemaniloreoluwa'
    i = 0
    print('character present at even index:')
    while i < len(x):
        print(x[i], end=" ")
        i = i + 2

In [73]:
character_string()

character present at even index:
k s m n l r o u a

In [41]:
#4.	Write a function to remove first characters from a string
def remove_first_character(k):
    print(k.replace(k[0], ''))

In [42]:
remove_first_character('kosemaniloreoluwa')

osemaniloreoluwa

In [57]:
#5.	Write a function to check if the first and last number of a list is the same
def check_first_and_last(list):
    if list [0] == list [-1]:
        print(True)
    else:
        print(False)

In [58]:
list = [10,11,13,14,56,78,11,10]
check_first_and_last(list)

True

In [66]:
#6.Write a function to print multiplication table from 1 to 10
def multiplication_table():
    for a in range(1, 11):
        print("")
        for b in range(1, 11):
            print(a * b, end=" ")

In [67]:
multiplication_table()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [70]:
#7.	Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.
def odd_even():
    K= [23,27,90,100,12,13,16,17]
    L = [8,11,14,20,34,18,21,80,75]
    M = []
    for x in K:
        if x % 2 > 0:
            M.append(x)
    for y in L:
        if y % 2 == 0:
            M.append(y)
    print(M)

In [71]:
odd_even()

[23, 27, 13, 17, 8, 14, 20, 34, 18, 80]