In [1]:
#1.	Write a function to calculate the multiplication and sum of two numbers.
def multi_sum(x,y):
  multi_sum = x*y
  multi_sum1 = x+y
  if multi_sum <= multi_sum1:
    return multi_sum
  else:
    return multi_sum1

In [2]:
multi_sum(4,5)

9

In [3]:
# or this method
def multi_or_sum(x,y):
  a = int(input("Enter first number"))
  b = int(input("Enter second number"))
  
  print("\n")
  print("First Number: ", a)
  print("Second Number: ", b)
  multi1 = a * b
  sum1 = a +b
  print("Multiplication of two numbers is: ", multi1)
  print("Addition of two numbers is: ", sum1)

In [4]:
multi_or_sum(4,5)

Enter first number4
Enter second number5


First Number:  4
Second Number:  5
Multiplication of two numbers is:  20
Addition of two numbers is:  9

In [5]:
# 2.	Write a function to print the sum of the current number and the previous numberr
def sumof_current_previous(numbers):
  previous_number = 0
  for i in range(1, 20):
    current_number = previous_number + i
    
  print("\n")
  print("Previous Number: ", previous_number)
  print("Current Number: ", current_number)
  sum_num = range(previous_number + current_number)
  print(sum_num)
  print("Addition of two numbers is: ", sum(sum_num))

In [6]:
numbers= range(1, 20)
sumof_current_previous(numbers)

Previous Number:  0
Current Number:  19
range(0, 19)
Addition of two numbers is:  171

In [7]:
3.# Write a function to print characters from a string that are present at an even index number
def char(string):
    for x in string:
        print(x)

In [8]:
string = 'Nimah'
char(string[0::2])

N
m
h

In [10]:
# or this method
def even_char(a):
  b = 0
  print('display even index')
  for i in range(len(a)):
    #i = i + b
    print(a[0::2])
a = "Nimatallahi"
even_char(a)

display even index
Nmtlai
Nmtlai
Nmtlai
Nmtlai
Nmtlai
Nmtlai
Nmtlai
Nmtlai
Nmtlai
Nmtlai
Nmtlai

In [11]:
#4.	Write a function to rremove first characters from a string
def char(string):
    for x in string:
        print(x)

In [12]:
string = 'Nimatallahi'
char(string[1::])

i
m
a
t
a
l
l
a
h
i

In [13]:
#5.	Write a function to check if the first and last number of a list is the same
def first_last(numbers):
    first = numbers[0]
    last = numbers[-1]
    if first ==last:
        return True
    else:
        return False

In [14]:
numbers = [2,4,6,8,10]
print(first_last(numbers))        
numbers = [2,4,6,8,10,2]
print(first_last(numbers))

False
True

In [15]:
#6Write a function to print multiplication table from 1 to 10
def multiplication():
    for a in range(1, 11):
        for b in range(1, 11):
          x = a*b
          i = "="
          print(a,"*",b,i,x,end="\t\n")
        print("\t")
multiplication()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [22]:
#7	Given a two list of numbers, write a function to create a new list such that the new list should contain 
# odd numbers from the first list and even numbers from the second list.
def even_odd(list1,list2):
  new_list = []
  #list1 = [6,7,8,9,10,11]
  #list2 = [15,16,17,18,19]
  for i in list1:
    if i % 2 ==0:
      new_list.append(i)
  for a in list2:
    if a % 2 !=0:
      new_list.append(a)
  return new_list
list1 = [6,7,8,9,10,11]
list2 = [15,16,17,18,19,20]

In [23]:
even_odd(list1,list2)

[6, 8, 10, 15, 17, 19]