1.	Write a function to calculate the multiplication and sum of two numbers.

In [41]:
def calculate():
    
    num1 = int(input("enter the first number: "))
    #defining the operator
    op=input('enter operator')
    
    num2=int(input("enter the second number: "))
    if op =="+":
        print('the sum of the two numbers are: ', num1+num2)
    elif op=="*":
        print("the multiplication of the two numbers are: ", num1*num2)
    else:
        
        print('not a valid operator')
calculate()

enter the first number: 12
enter operator*
enter the second number: 12
the multiplication of the two numbers are:  144

2. Write a function to print the sum of the current number and the previous number

In [13]:
def sum_cur_prev(number):
    prev = 0
    for j in range(number):
        sum = prev + j
        print(sum)
        prev = j
print()
sum_cur_prev(10)

0
1
3
5
7
9
11
13
15
17

3. Write a function to print characters from a string that are present at an even index number

In [17]:
def print_even_indexes(text):
    result =""
    for idx in range(0,len(text)):
        if (idx%2)!=0:
            result +=text[idx]
    print(result)
print_even_indexes('ABCDEF')

BDF

4. Write a function to remove first characters from a string

In [32]:
def remove_Char():
    i=input('enter word: ')
    print('the first character was removed: ', i[1:])
remove_Char()

enter word: kmmm
the first character was removed:  mmm

5. Write a function to check if the first and last number of a list is the same

In [20]:
L=[11,22,33,44,55]

def check_first_last(L):
  #  return L(0)== L(-1)
#result =check_first_last(L)
#print(result)
    if L[0]==L[-1]:
        L[len(L)-1]
        print('The same')
    else:
        print('there are different')
check_first_last(L)

there are different

6. Write a function to print multiplication table from 1 to 10

In [9]:
def multiplication_table():
    num=int(input("enter number from 1 to 10 to multiply:  "))
    for i in range(1,num+1):
        for j in range(1,num+1):
            print(i,'x',j,'=',i*j)
            print('\n','\t')
            end=' '
multiplication_table()

enter number from 1 to 10 to multiply:  10
1 x 1 = 1


1 x 2 = 2


1 x 3 = 3


1 x 4 = 4


1 x 5 = 5


1 x 6 = 6


1 x 7 = 7


1 x 8 = 8


1 x 9 = 9


1 x 10 = 10


2 x 1 = 2


2 x 2 = 4


2 x 3 = 6


2 x 4 = 8


2 x 5 = 10


2 x 6 = 12


2 x 7 = 14


2 x 8 = 16


2 x 9 = 18


2 x 10 = 20


3 x 1 = 3


3 x 2 = 6


3 x 3 = 9


3 x 4 = 12


3 x 5 = 15


3 x 6 = 18


3 x 7 = 21


3 x 8 = 24


3 x 9 = 27


3 x 10 = 30


4 x 1 = 4


4 x 2 = 8


4 x 3 = 12


4 x 4 = 16


4 x 5 = 20


4 x 6 = 24


4 x 7 = 28


4 x 8 = 32


4 x 9 = 36


4 x 10 = 40


5 x 1 = 5


5 x 2 = 10


5 x 3 = 15


5 x 4 = 20


5 x 5 = 25


5 x 6 = 30


5 x 7 = 35


5 x 8 = 40


5 x 9 = 45


5 x 10 = 50


6 x 1 = 6


6 x 2 = 12


6 x 3 = 18


6 x 4 = 24


6 x 5 = 30


6 x 6 = 36


6 x 7 = 42


6 x 8 = 48


6 x 9 = 54


6 x 10 = 60


7 x 1 = 7


7 x 2 = 14


7 x 3 = 21


7 x 4 = 28


7 x 5 = 35


7 x 6 = 42


7 x 7 = 49


7 x 8 = 56


7 x 9 = 63


7 x 10 = 70


8 x 1 = 8


8 x 2 = 16


8 x 3 = 24


8 x 4 = 32


8 x 5 = 40


8 x 6 = 48


8 x 7 = 56


8 x 8 = 64


8 x 9 = 72


8 x 10 = 80


9 x 1 = 9


9 x 2 = 18


9 x 3 = 27


9 x 4 = 36


9 x 5 = 45


9 x 6 = 54


9 x 7 = 63


9 x 8 = 72


9 x 9 = 81


9 x 10 = 90


10 x 1 = 10


10 x 2 = 20


10 x 3 = 30


10 x 4 = 40


10 x 5 = 50


10 x 6 = 60


10 x 7 = 70


10 x 8 = 80


10 x 9 = 90


10 x 10 = 100

7. Given a two list of numbers, write a function to create a new list such that the new
list should contain odd numbers from the first list and even numbers from the second list.

In [38]:
List_fist=[]
List_second=[]
def result_list(List_first,List_second):
    Output_List=[]
    for i in List_first:
        if i % 2 != 0:
            Output_List.append(i)
    for i in List_second:
        if i % 2 == 0:
            Output_List.append(i)
    return Output_List
result_list([11,12,22,33,44],[55,66,77,88,99])

[11, 33, 66, 88]