In [50]:
  
  list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
  list_2 = [11, 12, 13, 14, 15, 16, 17, 18, 19]
newlist = []
for x in list_1:
  if x % 2 == 0:
    newlist.append(x)
for a in list_2:
  if a % 2 != 0:
    newlist.append(a)
print(newlist)

[2, 4, 6, 8, 11, 13, 15, 17, 19]

In [45]:
#number 7 
def numbers(list_1, list_2): 
  newlist = []
  for x in list_1:
    if x % 2 == 0:
      newlist.append(x)
  for a in list_2:
    if a % 2 != 0:
      newlist.append(a)
  return newlist
  list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
  list_2 = [11, 12, 13, 14, 15, 16, 17, 18, 19]

In [46]:
print(numbers(list_1, list_2))

[2, 4, 6, 8, 11, 13, 15, 17, 19]

In [37]:
#1 Write  function to calculate the multiplication and sum of two numbers
def my_func(a,b):
  multi = a * b
  while multi <= 100:
    return multi
  else: 
    return a + b

In [15]:
x = my_func(10, 6)
print ("The result is: ", x)

y = my_func(100, 10)
print ("The result is: ", y)

The result is:  60
The result is:  110

In [16]:
#2 Write a function to print the sum of the current number and the previous number
def summation(num):
  prev_num = 0
  for x in range(1, 11):
    total = prev_num + x
  print(" ")
  print("Previous Number: ", prev_num)
  print("Current Number: ", total)
  sum1 = range(prev_num + total)
  print( "Addition of number is: ", sum(sum1))

In [17]:
num = range(1, 11)
summation(num)

Previous Number:  0
Current Number:  10
Addition of number is:  45

In [18]:
#3 Write a number function to print characters from a string that are present at an index number
def index(string):
  for a in string:
    print(a)

In [19]:
string = "Bobo"
index(string[0::2])

B
b

In [20]:
#4 Write a function to remove first characters from a string
def index(string):
  for a in string:
    print(a)

In [21]:
string = "Boboy"
index(string[1::])

o
b
o
y

In [24]:
# Write a function to check if the first and the last number of a list is the same
def note(num):
  num_1 = num[0]
  num_L = num[-1]
  if num_1 == num_L:
    return True
  else:
    return False

In [25]:
num = [11, 12, 13, 14, 17, 18, 19]
print(note(num))

num = [20, 11, 12, 13, 14, 17, 18, 19, 20]
print(note(num))

False
True

In [29]:
# Write a function to print multiplication table from 1 t0 10
def print_table():
  for x in range(1, 11):
    for y in range(1, 11):
      print(x * y, end = " ")
    print("\t\t")

In [30]:
print_table()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [35]:
def print_table():
  for x in range(1, 11):
    for y in range(1, 11):
        print(x, "*", y, "=", x * y, end="\t\n")
  print("\t\t")

In [34]:
print_table()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100