1.	Write a function to calculate the multiplication and sum of two numbers

In [26]:
a=int(input('Enter the 1st number'))
b=int(input('Enter the 2nd number'))
def num(a,b):
    multiply=a*b;
    add=a+b;
    return multiply,add;
print("The product and sum is",num(a,b),'respectively')

Enter the 1st number7
Enter the 2nd number9
The product and sum is (63, 16) respectively

2.	Write a function to print the sum of the current number and the previous number

In [50]:
lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: ")) 
def function():
    previous_num = 0
    for n in range (lower_value, upper_value + 1):
        print("Current Number", n, "Previous Number ", previous_num, " Sum: ", previous_num + n)
        previous_num = n
function()

Please, Enter the Lowest Range Value: 2
Please, Enter the Upper Range Value: 8
Current Number 2 Previous Number  0  Sum:  2
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15

3.	Write a function to print characters from a string that are present at an even index number

In [62]:
string=input('Type here:')
def chr():
    print(string[0:-1:2])
chr()

Type here:window
wno

4.	Write a function to remove first characters from a string

In [64]:
string=input('Type here:')
def text():
    print(string[1:])
text()

Type here:audacious
udacious

5.	Write a function to check if the first and last number of a list is the same

In [78]:
def check(num):
    if num[0] == num[-1]:
        print('Result is True')
    else:
        print('Result is False')

In [80]:
num = [1,2,3,4,1]
check(num)

Result is True

6 Write a function to print multiplication table from 1 to 10

In [95]:
def getMultiplicationTable(n):
    def printTableRow(x):
        print(n, "x", x, "=", n*x)
        if(x < 12):
            printTableRow(x+1)

    printTableRow(1)
    
for i in range(1, 11):
    print("======", i, "Multiplication Table", "=========")
    getMultiplicationTable(i)

====== 1 Multiplication Table =========
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12
====== 2 Multiplication Table =========
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
====== 3 Multiplication Table =========
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
====== 4 Multiplication Table =========
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
====== 5 Multiplication Table =========
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
====== 6 Multiplication Table =========
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
====== 7 Multiplication Table =========
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
====== 8 Multiplication Table =========
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
====== 9 Multiplication Table =========
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
====== 10 Multiplication Table =========
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

7.	Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [104]:
l1 = [2,5,8,12,4,6,87,32,65]
l2 = [1,6,3,90,4,5,32,4]
def new_list():
    l3 = [n for n in l1 if n%2]+[n for n in l2 if not n%2]
    print(l3)
new_list()

[5, 87, 65, 6, 90, 4, 32, 4]