In [1]:
#Question 1 
Write a function to calculate the multiplication and sum of two numbers

In [90]:
def multi_sum(a,b):
        sum=(a+b)
        multi=(a*b)
        print(sum, multi)
    
multi_sum(2,4)

6 8

In [ ]:
#Question 2
#Write a function to print the sum of the current number and the previous number

In [11]:
def my_function(current_number):
    previous_number=current_number-1
    sum_num2=current_number+previous_number
    print(sum_num2)
    
my_function(5)

9

In [87]:
#Question 3 
#Write a function to print characters from a string that are present at an even index number

In [39]:
def string(x):
    for i in range(len(str)):
        if i%2==0:
            print(str[i], end='')
str="Oluchukwu"
string(str)

Ouhku

In [33]:
#Question 4 
Write a function to remove first characters from a string

In [41]:
def del_string(text):
    final_text=''
    for i in range (len(text)):
        if i!=0:
            final_text=final_text+text[i]
    print(final_text)
    
del_string('hipopotamus')

ipopotamus

In [53]:
def mystr (string):
    return (string[1:])
    print(string, end='')
mystr ('Hipopotamus')

'ipopotamus'

In [54]:
#Question 5 
#Write a function to check if the first and last number of a list is the same

In [63]:
def list(l):
     
    for i in l:
        if l [0] == l[-1]:
            return (True)
        else: 
            return (False)
list ([1,2,3,4,5])

False

In [ ]:
#Question 6 
# This function produce the multiplication tables for all the numbers betten start and end

In [70]:
def multiplication_table(x,y):
    for item in range(x, (y+1)):
        print ('Multiplication table for ', item)
        for i in range (1,10):
            multiplication=i*item
            print( i, '*', item, '=', multiplication)
multiplication_table(1,10)

Multiplication table for  1
1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
Multiplication table for  2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
Multiplication table for  3
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
Multiplication table for  4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
Multiplication table for  5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
Multiplication table for  6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
Multiplication table for  7
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
Multiplication table for  8
1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
Multiplication table for  9
1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
Multiplication table for  10
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90

In [ ]:
#Question 7 
Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [4]:
def my_function(list1,list2):
    new_list=[]
    for i in (list1):
        if i%2==0:
            new_list.append(i)
    for i in list2:
        if i%2==1:
            new_list.append(i)
    print(new_list)
    
my_function([2,3,4,5,6],[3,4,5,6,7])

[2, 4, 6, 3, 5, 7]