In [4]:
#function to calculate the multiplication and sum of two numbers
def calculate (x,y):
    multiplication =x*y
    sum = x+y
    return ('multiplication is {0} and the sum is {1}'.format (multiplication,sum) )

calculate (2,10)

'multiplication is 20 and the sum is 12'

In [6]:
#function to print the sum of the current number and previous number
def calculate (x):
    return x + (x-1)
    
calculate (10)

19

In [15]:
#function to print characters from a string that are present at an even index number
def Even_Index():
    
    String = input('Type a string: ')
    
    even = []
    even = String[0::2]
    return even

Even_Index()

Type a string: Oluwabusola

'Ouauoa'

In [16]:
#function to remove first characters from a string
def Remove_First():
    
    String = input('Type a string: ')
    return String[1:]

Remove_First()

Type a string: Oluwabusola

'luwabusola'

In [20]:
#function to check if the first and last number of a list is the same
def First_Last (list):
    if list[0]==list[-1]:
        return "same"
    else :
        return "different"
    
print (First_Last ([1,2,3,4,7]))

different

In [32]:
#function to print multiplication table from 1 to 10
for num in range (1, 11):
    print ("Multiplication Table of", num)
    for i in range(1, 11):
        print (num, "x", i, "=", num*i)

Multiplication Table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Multiplication Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Multiplication Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Multiplication Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Multiplication Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
Multiplication Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
Multiplication Table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Multiplication Table of 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
Multiplication Table of 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
Multiplication Table of 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [34]:
#function to create a new list of odd numbers from the first list and even numbers from the second list
first_list =[1,2,3,4,5,6,7,8,9,10]
second_list =[11,12,13,14,15,16]

def new_list(first_list,second_list):
    
    res = []
    for i in first_list:
        if i % 2 == 1:
            res.append(i)
    for j in second_list:
        if j % 2 == 0:
            res.append(j)
    return res

new_list(first_list,second_list)

[1, 3, 5, 7, 9, 12, 14, 16]