In [1]:
#1.	Write a function to calculate the multiplication and sum of two numbers
def sum_product(a, b):
    return a+b, a*b
x = int(input("Enter First Number : "))
y = int(input("Enter Second Number : "))
sum, product = sum_product(x,y)
print("Sum of two numbers is ", sum)
print("product of two numbers is ", product)

Enter First Number : 9
Enter Second Number : 12
Sum of two numbers is  21
product of two numbers is  108

In [11]:
#2.	Write a function to print the sum of the current number and the previous number
def function():
    previous_num = 2
    lower_value = int(input ("Enter the Lowest Range Value: "))
    higher_value = int(input ("Enter the Higher Range Value: "))
    for n in range (lower_value, higher_value + 1):
        print("Current Number", n, "Previous Number ", previous_num, " Sum: ", previous_num + n)
        previous_num = n
function()

Enter the Lowest Range Value: 3
Enter the Higher Range Value: 4
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7

In [29]:
#3.	Write a function to print characters from a string that are present at an even index number
def even_index (string):
    even=[]
    for i in range(len(string)):
        if i % 2 == 0:
            even.append(string[i])
    print (even)
even_index("pyramid")

['p', 'r', 'm', 'd']

In [28]:
#4.	Write a function to remove first characters from a string
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing first characters from a string")
print(remove_chars("potatoes", 1))

Removing first characters from a string
Original string: potatoes
otatoes

In [20]:
#5.	Write a function to check if the first and last number of a list is the same
def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [11, 22, 33, 44, 11]
print("result is", first_last_same(numbers_x))

numbers_y = [55, 45, 25, 55, 10]
print("result is", first_last_same(numbers_y))

Given list: [11, 22, 33, 44, 11]
result is True
Given list: [55, 45, 25, 55, 10]
result is False

In [53]:
#6.	 Write a function to print multiplication table from 1 to 10
def MultiplicationTable(n):
    def printTableRow(x):
        print(n, "x", x, "=", n*x)
        if(x < 12):
            printTableRow(x+1)
            
    printTableRow(1)
        
for i in range(1,11):
    print(i, "Multiplication Table",)
    MultiplicationTable(i)
    print("\n")

1 Multiplication Table
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12


2 Multiplication Table
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24


3 Multiplication Table
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36


4 Multiplication Table
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48


5 Multiplication Table
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60


6 Multiplication Table
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72


7 Multiplication Table
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84


8 Multiplication Table
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96


9 Multiplication Table
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108


10 Multiplication Table
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

In [36]:
#7.	Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 15, 20, 25, 30]
list2 = [35, 40, 45, 50, 55]
print("result list:", merge_list(list1, list2))

result list: [15, 25, 40, 50]