In [5]:
#Write a function to calculate the multiplication and sum of two numbers. 
def multiply_or_sum(num1, num2):
    product = num1 * num2
    sum = num1 + num2     
    print("Sum =", + sum, "and Product =", + product)
    
multiply_or_sum(2,30)

Sum = 32 and Product = 60

In [32]:
#Write a function to print the sum of the current number and the previous number.
def curr_add_prev(*numbers):
    prev_no = 0
    result = []
    for i in numbers:
        sum = prev_no + i
        result.append(sum)
        prev_no = i
    return result
        
curr_add_prev(2,4,6)

[2, 6, 10]

In [64]:
#Write a function to print characters from a string that are present at an even index number.
string = input("Enter a string: ")
def even_index(string):
    even_index = []
    for i in range (len(string)):
        if i % 2 == 0:
            even_index.append(string[i])
    return even_index

even_index(string)

Enter a string:  dcjnjd

['d', 'j', 'j']

In [77]:
#Write a function to rremove firstâ€¯characters from a string
string = input("Enter a String: ")
def remove_first(string):
    removed = []
    for i in range (len(string)):
        if i != 0:
            removed.append(string[i])
    return " ".join(removed)

remove_first(string)

Enter a String:  mariam

'a r i a m'

In [83]:
#Write a function to check if the first and last number of a list is the same
list = [2,4,6,8,2]
def check_f_l(list):
    for i in list:
        if list[0] == list[-1]:
            result = "First and Last number are the same"
        else:
            result = "The numbers are not equal"
    return result

check_f_l(list)

'First and Last number are the same'

In [89]:
#Write a function to print multiplication table from 1 to 10
def multiplication_table(num):
    for i in range (1,11):
        print("The Multiplication table of ", i)
        for j in range (1,11):
                  print(i, "X", j, " = ", i*j)
                
multiplication_table(1)

The Multiplication table of  1
1 X 1  =  1
1 X 2  =  2
1 X 3  =  3
1 X 4  =  4
1 X 5  =  5
1 X 6  =  6
1 X 7  =  7
1 X 8  =  8
1 X 9  =  9
1 X 10  =  10
The Multiplication table of  2
2 X 1  =  2
2 X 2  =  4
2 X 3  =  6
2 X 4  =  8
2 X 5  =  10
2 X 6  =  12
2 X 7  =  14
2 X 8  =  16
2 X 9  =  18
2 X 10  =  20
The Multiplication table of  3
3 X 1  =  3
3 X 2  =  6
3 X 3  =  9
3 X 4  =  12
3 X 5  =  15
3 X 6  =  18
3 X 7  =  21
3 X 8  =  24
3 X 9  =  27
3 X 10  =  30
The Multiplication table of  4
4 X 1  =  4
4 X 2  =  8
4 X 3  =  12
4 X 4  =  16
4 X 5  =  20
4 X 6  =  24
4 X 7  =  28
4 X 8  =  32
4 X 9  =  36
4 X 10  =  40
The Multiplication table of  5
5 X 1  =  5
5 X 2  =  10
5 X 3  =  15
5 X 4  =  20
5 X 5  =  25
5 X 6  =  30
5 X 7  =  35
5 X 8  =  40
5 X 9  =  45
5 X 10  =  50
The Multiplication table of  6
6 X 1  =  6
6 X 2  =  12
6 X 3  =  18
6 X 4  =  24
6 X 5  =  30
6 X 6  =  36
6 X 7  =  42
6 X 8  =  48
6 X 9  =  54
6 X 10  =  60
The Multiplication table of  7
7 X 1  =  7
7 X 2  =  14
7 X 3  =  21
7 X 4  =  28
7 X 5  =  35
7 X 6  =  42
7 X 7  =  49
7 X 8  =  56
7 X 9  =  63
7 X 10  =  70
The Multiplication table of  8
8 X 1  =  8
8 X 2  =  16
8 X 3  =  24
8 X 4  =  32
8 X 5  =  40
8 X 6  =  48
8 X 7  =  56
8 X 8  =  64
8 X 9  =  72
8 X 10  =  80
The Multiplication table of  9
9 X 1  =  9
9 X 2  =  18
9 X 3  =  27
9 X 4  =  36
9 X 5  =  45
9 X 6  =  54
9 X 7  =  63
9 X 8  =  72
9 X 9  =  81
9 X 10  =  90
The Multiplication table of  10
10 X 1  =  10
10 X 2  =  20
10 X 3  =  30
10 X 4  =  40
10 X 5  =  50
10 X 6  =  60
10 X 7  =  70
10 X 8  =  80
10 X 9  =  90
10 X 10  =  100

In [100]:
#Given a two list of numbers, write a function to create a new list such that 
#the new list should contain odd numbers from the first list and even numbers from the second list.
list1 = [2,3,6,8,5,13]
list2 = [1,4,2,6,8,16]
def odd_even(list1, list2):
    for i in list1:
        new_list1 = []
        if i % 2 != 0:
            new_list1.append(list1)
    return new_list1

    for j in list2:
        new_list2 = []
        if j % 2 == 0:
            new_list2.append(list2)
    return new_list1 + new_list2

odd_even(list1, list2)

[[2, 3, 6, 8, 5, 13]]