1.	Write a function to calculate the multiplication and sum of two numbers.

In [5]:
def multiply_and_sum(x,y):
    '''a function that multiply and sum two numbers'''
    product = x * y
    sum = x + y
    return product, sum
#print ('The multiplication and sum of the number is' multiply_and_sum(x,y))

multiply_and_sum(3,4)

(12, 7)

2.	Write a function to print the sum of the current number and the previous number

In [6]:
def sum_prev_n_curr_nums(*num):
    '''A function that sum the current and previous numbers in a list'''
    for i in range(len(num)):
        if i == 0:
            print (num[i])
        else:
            print(num[i-1] + num[i])

sum_prev_n_curr_nums(2,4,6,8,3,5,7,9)

2
6
10
14
11
8
12
16

3.	Write a function to print characters from a string that are present at an even index number.

In [29]:
even_char=[]
def even_index(string):
    '''Function that print the even index of characters in a string'''

    for i in range(len(string)):
        if i % 2 == 0:
            even_char.append(string[i])
        print(even_char)
even_index('Flora')

['F']
['F']
['F', 'o']
['F', 'o']
['F', 'o', 'a']


4.	Write a function to remove first characters from a string

In [15]:
def del_first_char(string):
    '''Function deletes the first character of the string'''
    result = string[1:]
    print (result)
del_first_char('revenge')

evenge

5.	Write a function to check if the first and last number of a list is the same

In [17]:
def check_list(*num):
    '''The function checks if the first and last number in a list are the same'''
    if num[0] == num[-1]:
        print('Yes')
    else:
        print('No')
check_list(3,4,5,6,7,8,3)

Yes

6. Write a function to print multiplication table from 1 to 10

In [19]:
def multiplication_table(num):
    '''Function that print the multiplication table of numbers'''
    for i in range(1, num + 1):
        print ('\n\nMULTIPLICATION TABLE %d\n' % (i))
        for n in range (1, num +1):
            print("%-5d X %5d = %5d" % (i, n, i*n))
multiplication_table(10)

MULTIPLICATION TABLE 1

1     X     1 =     1
1     X     2 =     2
1     X     3 =     3
1     X     4 =     4
1     X     5 =     5
1     X     6 =     6
1     X     7 =     7
1     X     8 =     8
1     X     9 =     9
1     X    10 =    10


MULTIPLICATION TABLE 2

2     X     1 =     2
2     X     2 =     4
2     X     3 =     6
2     X     4 =     8
2     X     5 =    10
2     X     6 =    12
2     X     7 =    14
2     X     8 =    16
2     X     9 =    18
2     X    10 =    20


MULTIPLICATION TABLE 3

3     X     1 =     3
3     X     2 =     6
3     X     3 =     9
3     X     4 =    12
3     X     5 =    15
3     X     6 =    18
3     X     7 =    21
3     X     8 =    24
3     X     9 =    27
3     X    10 =    30


MULTIPLICATION TABLE 4

4     X     1 =     4
4     X     2 =     8
4     X     3 =    12
4     X     4 =    16
4     X     5 =    20
4     X     6 =    24
4     X     7 =    28
4     X     8 =    32
4     X     9 =    36
4     X    10 =    40


MULTIPLICATION TABLE 5

5     X     1 =     5
5     X     2 =    10
5     X     3 =    15
5     X     4 =    20
5     X     5 =    25
5     X     6 =    30
5     X     7 =    35
5     X     8 =    40
5     X     9 =    45
5     X    10 =    50


MULTIPLICATION TABLE 6

6     X     1 =     6
6     X     2 =    12
6     X     3 =    18
6     X     4 =    24
6     X     5 =    30
6     X     6 =    36
6     X     7 =    42
6     X     8 =    48
6     X     9 =    54
6     X    10 =    60


MULTIPLICATION TABLE 7

7     X     1 =     7
7     X     2 =    14
7     X     3 =    21
7     X     4 =    28
7     X     5 =    35
7     X     6 =    42
7     X     7 =    49
7     X     8 =    56
7     X     9 =    63
7     X    10 =    70


MULTIPLICATION TABLE 8

8     X     1 =     8
8     X     2 =    16
8     X     3 =    24
8     X     4 =    32
8     X     5 =    40
8     X     6 =    48
8     X     7 =    56
8     X     8 =    64
8     X     9 =    72
8     X    10 =    80


MULTIPLICATION TABLE 9

9     X     1 =     9
9     X     2 =    18
9     X     3 =    27
9     X     4 =    36
9     X     5 =    45
9     X     6 =    54
9     X     7 =    63
9     X     8 =    72
9     X     9 =    81
9     X    10 =    90


MULTIPLICATION TABLE 10

10    X     1 =    10
10    X     2 =    20
10    X     3 =    30
10    X     4 =    40
10    X     5 =    50
10    X     6 =    60
10    X     7 =    70
10    X     8 =    80
10    X     9 =    90
10    X    10 =   100

7.	Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [30]:
list1 = [2,5,8,12,4,6,87,32,65]
list2 = [1,6,3,90,4,5,32,4]
def new_list(num1, num2):
    '''Function that print the odd numbers from first list and even number from second list'''
    result = [n for n in num1 if n%2]+[n for n in num2 if not n%2]
    print(result)
new_list(list1,list2)

[5, 87, 65, 6, 90, 4, 32, 4]