In [ ]:
#1 Write a function called showNumbers that takes a parameter called limit. It should print
#all the numbers between 0 and limit with a label to identify the even and odd numbers.
#For example, if the limit is 3, it should print:0 EVEN 1 ODD 2 EVEN 3 ODD
def ShowNumbers(limit):
  for x in range(0, limit):
    if x==0:
      print(x, end=" ")
      print("EVEN")
    elif x % 2==0:
      print(x, end=" ")
      print("EVEN")
    else:
      print(x, end=" ")
      print("ODD")

print(ShowNumbers(5))

0 EVEN
1 ODD
2 EVEN
3 ODD
4 EVEN
None

In [ ]:
#2 Write a function that returns the sum of multiples of 3 and 5 between 0
#and limit (parameter). For example, if limit is 20, it should return the sum of 3, 5, 6, 9, 10,
#12, 15, 18, 20.
limit= range(0, 20)
def sum_multiples(limit):
  for a in limit:
    if a % 3 ==0:
      print(a)
    if a % 5 ==0:
      print(a)

sum_multiples(limit)

0
0
3
5
6
9
10
12
15
15
18

In [ ]:
#3 Write a function called show_stars(rows). If rows is 5, it should print the
# following:***************
rows = 5
def show_stars(rows):
  for a in range(0, rows+1):
    for b in range(0, a):
      print("*", end=" " )
    print("\n")

show_stars(rows)

*

* *

* * *

* * * *

* * * * *

In [29]:
# 4. Write a function that prints all the prime numbers between 0 and limit where limit is a parameter
numbers = range(10, 50)
def prime_numbers(limit):
  for num in numbers:
    if num > 5:
      for i in range(2, num):
        if num !=0:
          return prime_numbers
        else:
          print(num)

prime_numbers(limit)

In [12]:
#5 Write a program (function!) that takes a list and returns a new list that contains all the
#elements of the first list minus all the duplicates
list = [1,2,9,3,2,4,5,3,6,7,8,6,9,10]
def duplicate_listRemove(list):
  new_list = []
  for i in list:
    if i not in new_list:
      new_list.append(i)
  return new_list

print(duplicate_listRemove(list))

[1, 2, 9, 3, 4, 5, 6, 7, 8, 10]

In [14]:
#6 Write a function to ask the user for a number and determine whether the number is
#prime or not.

num = range(1,6)
def checkWhether_primeornot(num):
  for i in num:
    if i % 2==0:
      print(True)
    else:
      print(False)

checkWhether_primeornot(num)

False
True
False
True
False

In [ ]:
# Write a program that asks the user how many Fibonnaci numbers to generate and then generates them
# I did not do this question because the more i try to understand it the more i got confuse.

In [17]:
#8 Write a function that ask the user for a string and print out whether this string is a
# palindrome or not
def palindromeornot():
  user = input("Enter a word: ")
  left = 0
  right = len(user)-1
  while right >= left:
    if user[left] == user[right]:
      return True
    else:
      return False
      left +=1
      right -=1

palindromeornot()

Enter a word: arrange

False

In [23]:
#9 Write a function that takes an ordered list of numbers (a list where the elements are in order 
#from smallest to largest) and another number
list = [30,10,20,50,40,70,60]
def smallesttolargest(list):
  new_list = []
  for x in list:
    if x not in new_list:
      new_list.append(x)
      new_list.sort()
  return new_list

smallesttolargest(list)

[10, 20, 30, 40, 50, 60, 70]

In [28]:
# 10. Create a program that asks the user to enter their name and their age. Print out a
# message addressed to them that tells them the year that they will turn 100 years old.
user_name = input("Enter your name")
user_age = int(input("Enter your age"))
user_age_100years = (100 - user_age) + 2022
print (user_name,"is", user_age ,"she will turn 100 years old.", user_age_100years)

Enter your nameNimah
Enter your age20
Nimah is 20 she will turn 100 years old. 2102