In [3]:
#1.	Write a function to calculate the multiplication and sum of two numbers.
a= 9
b =5
print (a + b)
print (a * b)

14
45

In [25]:
#2.	Write a function to print the sum of the current number and the previous number
Numbers = [6, 10, 15, 20, 45, 80, 95]
for i in range(len(Numbers)):
    if i == 0:
        print(Numbers[i])
    else:
        print( Numbers[i - 1] + Numbers[i], end= ' ')

6
16 25 35 65 125 175

In [22]:
#3.	Write a function to print characters from a string that are present at an even index number

String = ('Indispensables')
# iterate over string
for index in range(len(String)):
    # check if index is divisible by 2
    if index % 2 == 0:
        # print character at index
        print(String[index], end=' ')

I d s e s b e

In [33]:
#4.	Write a function to remove first characters from a string

old_string = 'JHello, my name is Keji! How are you doing today?'
new_string = old_string.replace('J', '')
print(new_string)

Hello, my name is Keji! How are you doing today?

In [37]:
#5.	Write a function to check if the first and last number of a list is the same
def num_check(list):
    if (list[0] == list[-1]):
        print("True")
    else:
        print("False")


num_check([10, 20, 30, 40, 10])     
num_check([30, 65, 35, 75, 30])
num_check([12, 34, 56, 78, 21])

True
True
False

In [44]:
#6.	 Write a function to print multiplication table from 1 to 10
for i in range(1, 11):
    print("\n\nMULTIPLICATION TABLE FOR %d\n" % (i))
    
    for j in range(1, 11):
        print("%-5d X %5d = %5d" % (i, j, i * j))

MULTIPLICATION TABLE FOR 1

1     X     1 =     1
1     X     2 =     2
1     X     3 =     3
1     X     4 =     4
1     X     5 =     5
1     X     6 =     6
1     X     7 =     7
1     X     8 =     8
1     X     9 =     9
1     X    10 =    10


MULTIPLICATION TABLE FOR 2

2     X     1 =     2
2     X     2 =     4
2     X     3 =     6
2     X     4 =     8
2     X     5 =    10
2     X     6 =    12
2     X     7 =    14
2     X     8 =    16
2     X     9 =    18
2     X    10 =    20


MULTIPLICATION TABLE FOR 3

3     X     1 =     3
3     X     2 =     6
3     X     3 =     9
3     X     4 =    12
3     X     5 =    15
3     X     6 =    18
3     X     7 =    21
3     X     8 =    24
3     X     9 =    27
3     X    10 =    30


MULTIPLICATION TABLE FOR 4

4     X     1 =     4
4     X     2 =     8
4     X     3 =    12
4     X     4 =    16
4     X     5 =    20
4     X     6 =    24
4     X     7 =    28
4     X     8 =    32
4     X     9 =    36
4     X    10 =    40


MULTIPLICATION TABLE FOR 5

5     X     1 =     5
5     X     2 =    10
5     X     3 =    15
5     X     4 =    20
5     X     5 =    25
5     X     6 =    30
5     X     7 =    35
5     X     8 =    40
5     X     9 =    45
5     X    10 =    50


MULTIPLICATION TABLE FOR 6

6     X     1 =     6
6     X     2 =    12
6     X     3 =    18
6     X     4 =    24
6     X     5 =    30
6     X     6 =    36
6     X     7 =    42
6     X     8 =    48
6     X     9 =    54
6     X    10 =    60


MULTIPLICATION TABLE FOR 7

7     X     1 =     7
7     X     2 =    14
7     X     3 =    21
7     X     4 =    28
7     X     5 =    35
7     X     6 =    42
7     X     7 =    49
7     X     8 =    56
7     X     9 =    63
7     X    10 =    70


MULTIPLICATION TABLE FOR 8

8     X     1 =     8
8     X     2 =    16
8     X     3 =    24
8     X     4 =    32
8     X     5 =    40
8     X     6 =    48
8     X     7 =    56
8     X     8 =    64
8     X     9 =    72
8     X    10 =    80


MULTIPLICATION TABLE FOR 9

9     X     1 =     9
9     X     2 =    18
9     X     3 =    27
9     X     4 =    36
9     X     5 =    45
9     X     6 =    54
9     X     7 =    63
9     X     8 =    72
9     X     9 =    81
9     X    10 =    90


MULTIPLICATION TABLE FOR 10

10    X     1 =    10
10    X     2 =    20
10    X     3 =    30
10    X     4 =    40
10    X     5 =    50
10    X     6 =    60
10    X     7 =    70
10    X     8 =    80
10    X     9 =    90
10    X    10 =   100

In [52]:
#7.	Given a two list of numbers, write a function to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

List1 = [9,5,8,12,4,6,87,33,65]
List2 = [2,6,3,70,4,5,32,4,100]
List3 = [n for n in List1 if n%2]+[n for n in List2 if not n%2]
print(List3)

[9, 5, 87, 33, 65, 2, 6, 70, 4, 32, 4, 100]