<a href="https://colab.research.google.com/github/viviansharp/WTF_submissions/blob/main/WTF_GROUPC_2NDASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a function called showNumbers that takes a parameter called limit. It should print
all the numbers between 0 and limit with a label to identify the even and odd numbers.

In [42]:
def showNumbers(limit):
    for i in range(0,limit+1):
        if i%2==0:
            print("EVEN")
    else:
            print("ODD")

showNumbers(20)

EVEN
EVEN
EVEN
EVEN
EVEN
EVEN
EVEN
EVEN
EVEN
EVEN
EVEN
ODD

2. Write a function that returns the sum of multiples of 3 and 5 between 0
and limit (parameter). For example, if limit is 20, it should return the sum of 3, 5, 6, 9, 10,
12, 15, 18, 20.

In [40]:
def num(limit):
    sum = 0
    for i in range(0,limit+1):
        if i%3==0 or i%5==0:
           sum +=i

num=20
print(sum)

<built-in function sum>

3. Write a function called show_stars(rows). If rows is 5, it should print the
following:**************

In [34]:
def show_stars(rows):
    for I in range(1,rows+1):
        print("*" * I)

show_stars(5)

*
**
***
****
*****

In [37]:
def show_stars(rows):
    for i in range(0,rows+1):
            for j in range(0,i):
                 print("*", end = "")
print("\n")
show_stars(5)

***************

4.Write a function that prints all the prime numbers between 0 and limit where limit is a
parameter.

In [63]:
def prime(num):
    if num==1 or num==0:
        print(num,"is neither prime or composite")
    for i in range(2,num+1):
        if num%i==0:
           print(num,"is not a prime number")
               break
                       else:
                                print(num,"is a prime number")
                                    break

IndentationError: ignored

5. Write a program (function!) that takes a list and returns a new list that contains all the
elements of the first list minus all the duplicates.

In [65]:
list1 = [1, 1, 1, 2, 2, 3, 4, 8, 9, 9, 10]
for number in list1:
    for number2 in list1:
        if number == number2:
          list1.remove(number)

print(list1)

[1, 2, 4, 9, 10]